body{

background:#020617;
color:white;
font-family:Arial;

display:flex;
justify-content:center;
align-items:center;

height:100vh;
margin:0;

}

.app{

width:350px;
text-align:center;

}

.card{

background:#1e293b;

padding:15px;

border-radius:10px;

margin:10px;

}

button{

padding:10px 18px;

border:none;

border-radius:8px;

background:#38bdf8;

cursor:pointer;

margin:5px;

}

ul{

list-style:none;
padding:0;

}
